numpy==1.26.3
psutil==5.9.8
tqdm==4.66.1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-addons==0.22.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.31.0